<div>
<ul class="signature-nav">
    <li><a class="description-link" href="#">Model</a></li>
    <li><a class="snippet-link" href="#">Model Schema</a></li>
</ul>
<div>

<div class="signature-container">
    <div class="description">
        {{{signature}}}
    </div>

    {{#if isParam}}
    <div class="snippet code-clickable">
    {{else}}
    <div class="snippet">
    {{/if}}
        <pre><code>{{sampleJSON}}</code></pre>
        <small class="notice"></small>
    </div>
</div>

